// COLORS
$primary-color: #616179;
$secondary-color: #fcbd6b;
$font-family: "Montserrat", sans-serif;

$light-white: #fab0b0;
$white-color: #b8ece5;
$dark-grey: #525e69;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
